node_modules
npm-debug.log
logs
data
uploads
file_commandes
file_factures
file_certif
file_telecom
magapp_img
file_reunions
file_projets
file_contrats
glpi_attachments
ideas_attachments
magapp_docs
*.sqlite
*.db
*.sqlite.old
*.log
*.txt
*.xlsx
*.csv
.git
.gitignore
Dockerfile
.dockerignore
